@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}

input, textarea {
  @apply border rounded-md px-4 py-2;
}

.hidden-seo-content {
  display: none;
}

.fb-pixel-image {
  height: 1px;
  width: 1px;
  display: none;
}

.meta-pixel-container {
  display: none;
}

/* Custom animations */
@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-slow-zoom {
  animation: slow-zoom 30s infinite ease-in-out;
}

/* Custom backgrounds */
.bg-radial-gradient {
  background: radial-gradient(circle, rgba(255, 114, 0, 0.2) 0%, rgba(255, 114, 0, 0) 70%);
}

/* Hide scrollbar for carousel */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide WhatsApp button and enquiry form */
.hide-whatsapp-button [aria-label="Chat on WhatsApp"] {
  display: none !important;
}

.hide-enquiry-form .customer-form-modal {
  display: none !important;
}